---
layout: page
title: Blog
pagination:
  enabled: true
---
<section>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <ul style="list-style-position: inside">
           {% for post in paginator.posts %}
             <li>
               <a href="{{ post.url }}">{{ post.title }}</a>
               - {{ post.date | date: "%d %B %Y" }}
             </li>
           {% endfor %}
           {% if paginator.total_pages > 1 %}
              <ul>
                {% if paginator.previous_page %}
                <li>
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
                </li>
                {% endif %}
                {% if paginator.next_page %}
                <li>
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>
