---
layout: page
title: Portfolio
---
		<section class="no-padding" id="portfolio">
			<div class="container-fluid">
				<div class="row no-gutter">
					{% for item in paginator.portfolio %}
					<div class="col-lg-4 col-sm-6">
						<a href="{{ item.link }}" class="portfolio-box">
							<img src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ item.image_path }}&w=429&h=231&t=square" class="img-responsive" alt="{{ item.project_name }}">
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										{{ item.category }}
									</div>
									<div class="project-name">
										{{ item.project_name }}
									</div>
								</div>
							</div>
						</a>
					</div>
					{% endfor %}
					{% include paginator.html %}
				</div>
			</div>
		</section>
{% include text-expand.html %}
