<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Creative - {{ page.title }}</title>
		<!-- Bootstrap Core CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
		<!-- Custom Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/creative.css" type="text/css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body id="page-top">
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="/">Start Bootstrap</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/about.html">About</a>
						</li>
						<li>
							<a href="/services.html">Services</a>
						</li>
						<li>
							<a href="/portfolio.html">Portfolio</a>
						</li>
						<li>
						  <a href="/blog.html">Blog</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		{{ content }}
		<!-- start footer Area -->
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Công Ty TNHH Vận Tải Phước Tâm</h6>
								<ul>
									<p>Đ/c: Suối Lúp, Bình Ba, Châu Đức, BR-VT</p>
									<p>MST: 3502361439</p>
									<p>Hotline: 0931.872.929</p>
									<p>
										Email: <a href="mailto:info@dulichphuoctam.com"><span style="color: #777777">info@dulichphuoctam.com </span>	</a>
									</p>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Về Chúng Tôi</h6>
								<ul>
									<li><a href="#">Tuyển Dụng</a></li>
									<li><a href="tin-tuc.html">Tin Tức</a></li>
									<li><a href="lien-he.html">Liên Hệ</a></li>

								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Follow Us</h6>
								<p>Let us be social</p>
								<div class="footer-social d-flex align-items-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-youtube"></i></a>
									<a href="#"><i class="fa fa-google"></i></a>
								</div>
							</div>
						</div>
						<div class="col-lg-4  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Nhận Thông Tin Mới Nhất</h6>
								<p>Đăng ký email để cập nhật thông tin mới</p>
								<div class="" id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
										<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
			                            	<button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
			                            	<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>

										<div class="info"></div>
									</form>
								</div>
							</div>
						</div>
						<p class="mt-50 mx-auto footer-text col-lg-12">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> DuLichPhuocTam | Design by <a href="https://blog.xtapo.com/car/" target="_blank">NhanHQ</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->
		<!-- jQuery -->
		<script src="/js/jquery.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="/js/bootstrap.min.js"></script>

		<!-- Plugin JavaScript -->
		<script src="/js/jquery.easing.min.js"></script>
		<script src="/js/jquery.fittext.js"></script>
		<script src="/js/wow.min.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="/js/creative.js"></script>
	</body>
</html>
